@using Nop.Web.Framework.Models.AdminAreaTour

@{
    Layout = "_ConfigurePlugin";

    //tour step
    ViewBag.TourStep = TourStep.TaxManual;
}

<div class="form-group row">
    <div class="col-md-3">

        <h1>Configuration</h1>
    </div>
</div>