@using Nop.Plugin.Misc.CycleFlow.Models.Return
@model ReturnModel
@{
    ViewBag.PageTitle = T("Admin.Plugin.Misc.CycleFlow.Return.Title").Text;
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    NopHtml.SetActiveMenuItemSystemName("Return");
}
<div class="content-header clearfix">
    <h1 class="float-left">
        @T("Admin.Plugin.Misc.CycleFlow.Return.Title")
    </h1>
</div>
@await Html.PartialAsync("_View", Model)