@using Nop.Plugin.Misc.CycleFlow.Models.Return
@model ReturnModel
@{
    ViewBag.PageTitle = T("Admin.Plugin.Misc.CycleFlow.ReturnModel.Title").Text;
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    NopHtml.SetActiveMenuItemSystemName("ReturnModel");
}
<h2>@Model.CustomerName</h2>
<h2>@Model.Year</h2>
<h2>@Model.Month</h2>
<h2>@Model.ReturnCount</h2>