@model Nop.Plugin.Misc.CycleFlow.Models.CycleFlowSetting.CycleFlowSettingModel
<div class="card-body">
    <div class="cards-group">

        <div class="form-group row">
            <div class="col-md-3">
                <nop-label asp-for="IsEnableSendToClient" />
            </div>
            <div class="col-md-9">
                <nop-editor asp-for="IsEnableSendToClient" />
                <span asp-validation-for="IsEnableSendToClient"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-3">
                <nop-label asp-for="ClientSmsTemplateId" />
            </div>
            <div class="col-md-9">
                <nop-select asp-for="ClientSmsTemplateId" asp-items="Model.AvailableClientSmsTemplates" />
                <span asp-validation-for="ClientSmsTemplateId"></span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-3">
                <nop-label asp-for="IsEnableSendToUser" />
            </div>
            <div class="col-md-9">
                <nop-editor asp-for="IsEnableSendToUser" />
                <span asp-validation-for="IsEnableSendToUser"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-3">
                <nop-label asp-for="UserSmsTemplateId" />
            </div>
            <div class="col-md-9">
                <nop-select asp-for="UserSmsTemplateId" asp-items="Model.AvailableUserSmsTemplates" />
                <span asp-validation-for="UserSmsTemplateId"></span>
            </div>
        </div>

    </div>
</div>
<nop-alert asp-alert-id="validationAlert" asp-alert-message="@T("Admin.Common.Alert.ValidationError")" />
