@using Nop.Plugin.Misc.CycleFlow.Models.Deportation
@model DeportationModel
@{
    ViewBag.PageTitle = T("Admin.Plugin.Misc.CycleFlow.Deportation.Title").Text;
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    NopHtml.SetActiveMenuItemSystemName("Deportation");
}
<form asp-controller="Deportation" asp-action="DeportationProcess" method="post">
    <div class="content-header clearfix">
        <h1 class="float-left">
            @T("Admin.Orders")
        </h1>
        <div class="float-right">
            <button type="submit" name="save" class="btn btn-primary">
                <i class="far fa-save"></i>
                @T("Admin.Plugin.Misc.CycleFlow.Deportation")
            </button>
            @if (@Model.IsEnableReturn)
            {

                <button type="submit" name="return" class="btn btn-primary">
                    <i class="far fa-save"></i>
                    @T("Admin.Plugin.Misc.CycleFlow.Deportation.Return")
                </button>
            }
        </div>
    </div>
    @await Html.PartialAsync("_CreateOrUpdate", Model)
</form>
